name: Pip

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: Build with Pip
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-2022, macos-15, ubuntu-24.04]
        python-version: ["3.8", "3.12"]

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set min macOS version
      if: runner.os == 'macOS'
      run: |
        echo "MACOSX_DEPLOYMENT_TARGET=10.15" >> $GITHUB_ENV

    - name: Install Ubuntu Dependencies
      if: runner.os == 'Linux'
      run: |
        wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/apt.llvm.org.asc
        sudo apt update
        sudo apt -y remove clang-18 llvm-18 llvm-18-dev llvm-18-linker-tools llvm-18-runtime
        sudo apt -y install clang-19 lldb-19 lld-19 libudev-dev
        sudo ln -sf `which clang-19` /usr/bin/clang
        sudo ln -sf `which clang++-19` /usr/bin/clang++

    - name: Build and install
      run: |
        python -m pip install pytest
        pip install --verbose .

    - name: Test
      run: python -m pytest bindings/python/tests -v
